/* ===== LEFT PANEL ===== */
.left-panel {
    background-color: #0088FF; /* biru solid seperti gambar */
    color: white;

    /* lengkungan besar */
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

/* ===== LOGIN BOX ===== */
.login-box {
    background: transparent; /* di gambar tidak ada card */
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
}

/* Judul */
.login-box h3 {
    color: #000;
    margin-bottom: 30px;
    font-weight: 700;
}

/* ===== INPUT ===== */
.login-box .form-control {
    background-color: #e9ecef; /* abu-abu */
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 14px;
}

.login-box .form-control:focus {
    background-color: #e9ecef;
    box-shadow: none;
    border: 1px solid #0088FF;
}

/* ===== LINK FORGOT ===== */
.login-box .text-muted {
    font-size: 13px;
    color: #6c757d !important;
}

/* ===== BUTTON LOGIN ===== */
.login-box .btn-primary {
    background-color: #0088FF;
    border: none;
    border-radius: 30px; /* oval */
    padding: 10px;
    font-weight: 600;
}

.login-box .btn-primary:hover {
    background-color: #0b5ed7;
}
